/* FONT IMPORTS */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.icon {
  font-family: 'Material Icons', serif;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}


/* VARIABLES */

:root {
  --main-color: #1a8fff;
  --text-color: #777;
  --text-color-light: #ccc;
  --border-color: #eee;
  --bg-color: #f9f9f9;
  --neutral-color: #fff;
}


/* GENERAL */

* {
  box-sizing: border-box;
}

body {
    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5;
    color: var(--text-color);
    background: var(--bg-color);
    position: relative;
}

header {
  display: block;
  width: 100%;
  padding: 1.75em 0;
  border-bottom: 1px solid var(--border-color);
  background: var(--neutral-color);
}

header #logo {
  font-size: 175%;
  text-align: center;
  color: var(--main-color);
  line-height: 1;
}

header #logo .icon {
  padding-right: .25em;
}

/*main {
  display: block;
  margin: 0 auto;
  margin-top: 5em;
  max-width: 50em;
}*/


/* GRID */

.row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.row-middle {
  align-items: center;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col-start {
  justify-content: flex-start;
  text-align: left;
}

.col-center {
  justify-content: center;
  text-align: center;
}

.col-end {
  justify-content: flex-end;
  text-align: right;
}


/* Calendar */

.calendar {
  display: block;
  position: relative;
  width: 100%;
  background: var(--neutral-color);
  border: 1px solid var(--border-color);
}

.calendar .header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 115%;
  padding: 1.5em 0;
  border-bottom: 1px solid var(--border-color);
}

.calendar .header .icon {
  cursor: pointer;
  transition: .15s ease-out;
}

.calendar .header .icon:hover {
  transform: scale(1.75);
  transition: .25s ease-out;
  color: var(--main-color);
}

.calendar .header .icon:first-of-type {
  margin-left: 1em;
}

.calendar .header .icon:last-of-type {
  margin-right: 1em;
}

.calendar .days {
  text-transform: uppercase;
  font-weight: 400;
  color: var(--text-color-light);
  font-size: 70%;
  padding: .75em 0;
  border-bottom: 1px solid var(--border-color);
}

.calendar .body .cell {
  position: relative;
  min-height: 5em;
  border-right: 1px solid var(--border-color);
  overflow: hidden;
  cursor: pointer;
  background: var(--neutral-color);
  transition: 0.25s ease-out;
}

.calendar .body .cell:hover {
  background: var(--bg-color);
  transition: 0.5s ease-out;
}

/* .calendar .body .selected {
  border-left: 10px solid transparent;
  border-image: linear-gradient(45deg, #1a8fff 0%,#53cbf1 40%);
  border-image-slice: 1;
} */

.calendar .body .row {
  border-bottom: 1px solid var(--border-color);
}

.calendar .body .row:last-child {
  border-bottom: none;
}

.calendar .body .cell:last-child {
  border-right: none;
}

.calendar .body .cell .number {
  position: absolute;
  font-size: 82.5%;
  line-height: 1;
  /* top: .75em;
  right: .75em; */
  font-weight: 700;
  width: 100%;
  height: 15px;
  bottom: 0;
  left: 0;
}

.calendar .body .disabled {
  color: var(--text-color-light);
  pointer-events: none;
}

.calendar .body .cell .bg {
  font-weight: 700;
  line-height: 1;
  color: var(--main-color);
  opacity: 0;
  font-size: 8em;
  position: absolute;
  top: -.2em;
  right: -.05em;
  transition: .25s ease-out;
  letter-spacing: -.07em;
}

/* .calendar .body .cell:hover .bg, .calendar .body .selected .bg  {
  opacity: 0.05;
  transition: .5s ease-in;
} */

.calendar .body .col {
  flex-grow: 0;
  flex-basis: calc(100%/7);
  width: calc(100%/7);
}

.grid-container {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 1fr 4fr;
  /*background-color: #2196F3;*/
  background: #fff;
}

.grid-container div {
 
  /*background-color: rgba(255, 255, 255, 0.8);
  border-color: #ddd; ;*/
     
}

.dragable_expandable_container {
  border-color: #e20f39;
  margin-top: 1px;
}

.side-bar {
    border-color: #f00;
    margin: 0 0 0 20px;
    border: 1px solid var(--border-color);
}

.side-bar ul { 
  list-style-type: none;
  padding-inline-start: 0;

}
.side-bar ul li {
    padding: 7px;
    padding-bottom: 4px;
    transition: background .1s ease;
    color: #222;
    background-color: #fff;
    border: 1px solid var(--border-color);

    border-left: 5px solid transparent;
    border-right: 3px solid transparent;
    -webkit-border-image: -webkit-linear-gradient(45deg, #1a8fff 0%,#53cbf1 40%);
    border-image: linear-gradient(45deg, #ff0000 0%,#3300 40%);
    border-image-slice: 1;

}

.usigned-tasks {
  /* margin: 3px;
  width: 80%; */
  background-color: #00ff00;
  /* border-left: 5px solid transparent;
  border-right: 3px solid transparent; */
  /* -webkit-border-image: -webkit-linear-gradient(45deg, #1a8fff 0%,#53cbf1 40%);
  border-image: linear-gradient(45deg, #ff0000 0%,#f3455f 40%); */
  border-image-slice: 1;
  height: 20px;
  font-size: 14px;
  text-align: center;
  border: solid 1px #f00;
  border-right: none;
  border-left: none;

}

.dragable_expandable_container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.dragable_expandable_container.first_cell .usigned-tasks{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;  

}

.full_length_container {
  grid-template-columns: 5fr;
}

.expandable-area {
  background-image: url('/../../icons8-drag-reorder-filled-50.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #00ff00;
  border: solid 1px #f00;
  border-left: none;
}



.calendar .body .selected .number {
    pointer-events: none;
} 

.empty_cell {
  height: 21px;
}

/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}